.container{
    justify-content: center;
    display: flex;
    position: relative;
}

.contact-text-div{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact-text{
    color: #000;
    margin-bottom: 10px;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 3.8vw;
    font-weight: 300;
    line-height: 5vw;
}

.contact-link-footer{
    color: #996;
    text-decoration: none;
    transition: font-variation-settings .3s cubic-bezier(.47, 0, .745, .715);
}
.contact-link-footer:hover{
    text-decoration: underline;
}

.hero-scroll-button{
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #faaf52;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: -30px;
    rotate: 180deg;
    // right: 0px;
    right: 32px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}