<div class="container">
    <div class="contact-text-div">
        <div class="contact-text">
            <span>
                Get in touch <br>
            <a href="mailto:lakshyakalia1998@gmail.com" class="contact-link-footer">lakshyakalia1998@gmail.com↗︎</a>
            </span>
        </div>
    </div>
    <a (click)="onScrollUp()" class="hero-scroll-button w-inline-block">
        <img src="https://cdn.prod.website-files.com/5c15cd8c8f69207532f75856/5c182d71aa900a4bcfbc3909_arrow-down.svg" width="18" alt="" class="scroll-arrow">
        <div class="color-hover down"></div>
    </a>
</div>