<div class="about-section-container">
    <div>
        <div class="flex">
            <div>
                <app-about-images></app-about-images>
            </div>
            <div>
                <div class="about-header">
                    <i>More</i> About Me?
                </div>
                <div class="about-sub-header">
                    I’m Lakshya. Fresh out of Concordia University, Montreal with a Master's degree in Applied Computer Science, I'm ready to take on the world! Currently residing in Canada, I bring a unique blend of experiences from my time as a computer science major to my current endeavors as a full stack software developer.
                    <br><br>
                    I thrive on exploring a mix of disciplines that fuel my passion for design and development. Continuously evolving and introspective, my current focus is on crafting designs that foster human connection and create meaningful social impact. There's nothing more thrilling for me than developing interfaces and systems that are not only delightful and intuitive but also serve a clear, purposeful intention.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: relative;">
    <a (click)="onScrollDown()" class="hero-scroll-button w-inline-block">
        <img src="https://cdn.prod.website-files.com/5c15cd8c8f69207532f75856/5c182d71aa900a4bcfbc3909_arrow-down.svg" width="18" alt="" class="scroll-arrow">
        <div class="color-hover down"></div>
    </a>
</div>