.about-section-container{
    background-color: #1a1b1f;
    padding-top : 130px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 35vh;
    color: #ffffff;
    font-family: Ubuntu, Helvetica, sans-serif;
    overflow: hidden;

}
.flex{
    display: flex;
}
.flex > div{
    flex: 1;
}
.home-nav{
    z-index: 1;
    height: 64px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 101px;
}

.home-nav a{
    color: #ffffff;
}
.about-header{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Gooper;
}
.about-sub-header{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff9e;
    font-family: Droid Sans, sans-serif;
    width: 75%;
}

.hero-scroll-button{
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #faaf52;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 30px;
    // rotate: 180deg;
    // right: 0px;
    right: 32px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}