<div class="container">
    <div>
        <div class="img">
            <img src="../../../assets/about-img.jpg">
        </div>
        <div class="about-content">
            <div>
                {{ name }}
            </div>
            <!-- <div>
                {{ email }}
            </div> -->
            <div>
                {{ desc }}
            </div>
        </div>
    </div>
    <!-- <div> -->
        <div class="heading">
            EXPERIENCE
        </div>
    <!-- </div> -->
    <div class="experience" *ngFor="let experience of experiences">
        <div class="down-arrow">↓</div>
        <app-experience-card></app-experience-card>
    </div>
    <!-- <hr class="sep-3" /> -->
    <div class="heading">
        SKILLS
    </div>
<!-- </div> -->
<div class="experience">
    <div class="down-arrow">↓</div>
    <app-skill-card></app-skill-card>
</div>
</div>