<div class="experience-section-container">
    <div class="container-small">
        <div class="padding-large">
            <div>
                <div style="text-align: center; width: 100%;">
                    <div class="header"><i>What</i> have I done?</div>
                </div>
            </div>
            <div class="experience">
                <app-experience-carousel></app-experience-carousel>
            </div>
        </div>
    </div>
</div>
<!-- 
<div>
    <div class="section-header">
        <i>What</i> have I done?
    </div>
    <div class="section-content">
        
    </div>
</div> -->