.experience-section-container{
    color: #fff;
    background-color: #141414;
    padding-left: 6%;
    padding-right: 6%;
    font-family: Ubuntu, Helvetica, sans-serif;
}
.container-small{
    width: 100%;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}
.padding-large{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.header{
    font-size: 34px;
    font-family: Gooper;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 40px;
}