<div class="footer-container">
    <div class="flex">
        <div>
            <div class="footer-header">
                Let's create something meaningful.
            </div>
            <div class="flex links">
                <div>
                    <div>
                        <a href="#">Work↗︎</a>
                    </div>
                    <div>
                        <a href="#">About↗︎</a>
                    </div>
                    <div>
                        <a href="#">Resume↗︎</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="#">Linkedin↗︎</a>
                    </div>
                    <div>
                        <a href="#">Email↗︎</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="initial">
            <div>
                <img src="../../../assets/initials.png"/>
            </div>
        </div>
    </div>
</div>