<div class="footer-container">
    <div class="flex">
        <div>
            <div class="footer-header">
                Let's create something meaningful.
            </div>
            <div class="flex links">
                <div>
                    <div>
                        <a href="/">Work↗︎</a>
                    </div>
                    <div>
                        <a href="https://github.com/lakshyakalia" target="_blank">Github↗︎</a>
                    </div>
                    <div>
                        <a href="../../../assets/resume/Lakshya Kalia Resume.pdf" target="_blank" rel="noopener">Resume↗︎</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="https://www.linkedin.com/in/lakshyakalia/" target="_blank">Linkedin↗︎</a>
                    </div>
                    <div>
                        <a href="mailto:lakshyakalia1998@gmail.com">Email↗︎</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="initial">
            <div>
                <img src="../../../assets/initials.png"/>
            </div>
        </div>
    </div>
</div>