.card-container{
    border-radius: 22px;
    padding: 10px 14px;
    margin-right: 10px;
    background-color: #333333;
    color: #fafafa;
    align-items: center;
  justify-content: center;
  text-align: center;
}