<div class="flex-box social">
    <div>
        <a href="https://www.linkedin.com/in/lakshyakalia/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a>
    </div>
    <div>
        <a href="#" target="_blank"><i class="fab fa-github icon"></i></a>

    </div>
    <!-- <div>
        <a href="https://www.instagram.com/lakshya_03/" target="_blank"><i class="fab fa-instagram icon"></i></a>
    </div> -->
    <div>
        <a href="mailto:lakshyakalia1998@gmail.com"><i class="fas fa-envelope icon"></i></a>
    </div>
</div>