<div class="project-container">
    <div *ngFor="let project of projects; index as i" class="flex" id="project{{i}}" [ngClass]="i%2!=0?'reverse':''">
        <div style="flex: 1;" class="img-container">
            <div style="background-image: url('{{project.img}}');" class="img">
            </div>
        </div>
        <div style="flex: 1;">
            <div>
                <span class="project-heading">
                    {{project.title}}
                </span>
            </div>
            <div class="project-sub-heading">
                {{project.desc}}
            </div>

            <div class="project-links">
                <div>
                    <a href="{{project.code}}" target="_blank">
                        Code↗︎
                    </a>
                    <span style="color: #777777;">&nbsp; | &nbsp;</span>
                    <a href="{{project.demo}}" target="_blank">
                        Demo↗︎
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>