<div class="project-container">
    <div class="flex">
        <div style="flex: 1;" class="img-container">
            <div class="img">
                
            </div>
        </div>
        <div style="flex: 1;">
            <div>
                <span class="project-heading">
                    Disney+ Clone
                </span>
            </div>
            <div class="project-sub-heading">
                A responsive Disney+ Clone showcasing an interactive home page for trending movies and shows. Built with React, Redux, and Firebase for seamless state management, authentication, and real-time database support. The design is fully responsive, ensuring an optimized experience across desktops, tablets, and smartphones.
            </div>

            <div class="project-links">
                <div>
                    <a href="">
                        Code↗︎
                    </a>
                    <span style="color: #777777;">&nbsp; | &nbsp;</span>
                    <a href="">
                        Demo↗︎
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="flex reverse" id="scroll">
        <div style="flex: 1;" class="img">

        </div>
        <div style="flex: 1;">
            <div>
                <span class="project-heading">
                    Disney+ Clone
                </span>
            </div>
            <div class="project-sub-heading">
                A responsive Disney+ Clone showcasing an interactive home page for trending movies and shows. Built with React, Redux, and Firebase for seamless state management, authentication, and real-time database support. The design is fully responsive, ensuring an optimized experience across desktops, tablets, and smartphones.
            </div>

            <div class="project-links">
                <div>
                    <a href="">
                        Code↗︎
                    </a>
                </div>
                <div>
                    <a href="">
                        Demo↗︎
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="flex">
        <div style="flex: 1;" class="img">

        </div>
        <div style="flex: 1;">
            <div>
                <span class="project-heading">
                    Disney+ Clone
                </span>
            </div>
            <div class="project-sub-heading">
                A responsive Disney+ Clone showcasing an interactive home page for trending movies and shows. Built with React, Redux, and Firebase for seamless state management, authentication, and real-time database support. The design is fully responsive, ensuring an optimized experience across desktops, tablets, and smartphones.
            </div>

            <div class="project-links">
                <div>
                    <a href="">
                        Code↗︎
                    </a>
                </div>
                <div>
                    <a href="">
                        Demo↗︎
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>