<div class="card-container">
    <div class="flex">
        <div class="experience-date">
            2024 - PRESENT
        </div>
        <div class="experience-content">
            <div class="experience-title">
                Consultant 2 (Full Stack Developer)
            </div>
            <div class="experience-detail">
                • Played a key role in migrating a legacy server-side MVC architecture to a single-page Angular application for Alliant Group.
                • Collaborated with cross-functional teams to streamline user interactions and improve usability while achieving a 40% boost for the website.
            </div>
            <!-- <div class="skill-container">
                <div class="experience-skills" *ngFor="let skill of skills">
                    <app-skills></app-skills>
                </div>
            </div> -->
        </div>
    </div>
</div>