li {
    margin-left: 50px;
    font-weight: 500;
}

li:hover {
    background-color: black;
    border-radius: 6px;
    transition-duration: 0.8s;
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    font-size: 20px;
}

.logo {
    height: 50px;
}

.inputBox {
    width: 100%;
    margin-top: 30px;
    padding: 10px 15px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace
}

.flex {
    margin-top: 200px;
    display: flex;
    /* margin: auto; */
    width: 40%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

body {
    background-color: #ebebeb;
}

.inner-box {
    padding: 20px 40px;
}

.startTest {
    margin-left: 40%;
}

.error-msg {
    color: red;
    text-align: center;
    font-size: 18px;
}

.inner-box-text {
    font-weight: 600;
}

.btn {
    font-weight: 100;
}