@font-face {
    font-family: 'Gooper';
    src: url('../assets/Gooper-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }

*{
    font-family: Butler;
    margin: 0;
    color: #1a1b1f;
}
$black:#1a1b1f;

.flex{
    display: flex;
}

.flex div:nth-child(1){
    // flex: 1;
    flex: 0.1 0 100px;
    box-shadow: 1px 0 0 0 #ddd;
    // background-color: #A3B18A;
}

.flex div:nth-child(2){
    flex: 2.5;
    overflow-y: auto;
    scrollbar-width: none;
    // padding-left: 8%
}

.flex div:nth-child(2)::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }

.container{
    // padding: 20px;
    // margin-top: 20px;
    height: 100vh;
    
}

