<div class="flex">
    <div style="padding-left: 8%">
        <app-portfolio-heading-section></app-portfolio-heading-section>
    </div>
    <div>
        <div class="lakshya-img">
            <img src="../../../assets/lakshya.png"/>
        </div>
        <div style="position: relative;">
            <a (click)="onScrollClick()" class="hero-scroll-button w-inline-block">
                <img src="https://cdn.prod.website-files.com/5c15cd8c8f69207532f75856/5c182d71aa900a4bcfbc3909_arrow-down.svg" width="18" alt="" class="scroll-arrow">
                <div class="color-hover down"></div>
            </a>
            </div>
    </div>
</div>

<div class="quote-container">
    <div class="wrapper">
        <div class="quote-wrapper">
            <img id="scroll" src="https://cdn.prod.website-files.com/5c15cd8c8f69207532f75856/5c15cd8c8f6920262ff7594c_quote-icon-white.svg" alt="" class="big-quote-icon">
            <div class="quote">
                As a software developer, I take a results-driven, user-centric approach to problem solving. I focus on understanding the core objectives of the project, key technical constraints, and how these shape the overall product. I’m adaptable and resourceful, always finding efficient solutions, but I also know when to dig deep and fine-tune the details. My strength lies in balancing multiple projects, delivering high-quality code swiftly, and collaborating seamlessly with cross-functional teams. I’m passionate about building scalable, impactful systems and continuously improving the product to drive business success.
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>