.title{
    text-align: center;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 4px;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.nav-links{
    margin-top: 50px;
    // margin-bottom: 20px;
}
.nav-links div{
    margin-top: 10px;
    font-size: 22px;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 0px solid; */
    border: none;
    height: 1px;
    background: black;
    width: 10%;
    text-align: left;
    margin-left: 0;
}
.container{
    margin-top: 20px;
    width: 169px;
    position: relative;
    text-align: center;
        
    
}
.sub-title{
    color: #777;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Droid Sans, sans-serif;
    font-size: 11px;
    line-height: 16px;
}
.copyright{
    font-size: 12px;
    margin-top: 30px;
}
.sidebar-text{
    transform: rotate(-90deg);
    margin-top: 250px;
}
img{
    width: 45px;
    padding: 17px;
    background: #faaf52;
    border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fbb052;     //#fbb052 //#2196F3;  
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fbb052;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .rs{
    margin-top: 80px;
  }