.title{
    font-size: 32px;
}
.nav-links{
    margin-top: 50px;
    // margin-bottom: 20px;
}
.nav-links div{
    margin-top: 10px;
    font-size: 22px;
}
.container{
    padding: 20px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 0px solid; */
    border: none;
    height: 1px;
    background: black;
    width: 10%;
    text-align: left;
    margin-left: 0;
}