*{
    font-family: Ubuntu,Helvetica,sans-serif;
}

.container{
    margin-top: 100px;
    

}

.container > div > span{
    display: block;
}
.heading{
    font-size: 44px;
    width: 80%;
    // text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 4px;
    font-family: Ubuntu, Helvetica, sans-serif;
    text-transform: uppercase;
    // font-size: 14px;
    // line-height: 20px;
}
.sub-heading{
    // font-size: 24px;
    margin-top: 20px;
    max-width: 500px;
    color: #777777;
    // margin-top: -5px;
    margin-bottom: 0;
    font-family: Droid Sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    display: block;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 0px solid; */
    border: none;
    height: 1px;
    background: #ddd;
    width: 12%;
    text-align: left;
    margin-left: 0;
}

.concordia{
    margin-top: 40px;
    img{
        width: 300px;
    }
}
.about-nav{
    z-index: 1;
    // width: 64px;
    height: 64px;
    // background-color: #faaf52;
    justify-content: center;
    align-items: center;
    // display: flex;
    position: relative  ;
    // bottom: 32px;
    // left: -32px;
    // box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    font-weight: 300;
    font-size: 14px;
    text-transform: lowercase;
    a{
        color: #1a1b1f;
    }
    
}
a:active{
    color: #1a1b1f;
}
a:visited{
    color: #1a1b1f;
}