<div class="container">
    <div>
        <span class="heading">
            {{ heading }}
        </span>
        <span class="sub-heading">
            Welcome to my portfolio.
        </span>
    </div>
    <div>
        <hr/>
    </div>
</div>
<div class="container">
    <div>
        <span class="heading">
            {{ heading }}
        </span>
        <span class="sub-heading">
            Welcome to my portfolio.
        </span>
    </div>
    <div>
        <hr/>
    </div>
</div>
<div class="container">
    <div>
        <span class="heading">
            {{ heading }}
        </span>
        <span class="sub-heading">
            Welcome to my portfolio.
        </span>
    </div>
    <div>
        <hr/>
    </div>
</div>