
<div class="container">
    
    <div>
        <span class="heading">
            Hello, I'm Lakshya.<br>
            Nice to meet<br>
            you.
        </span>
        <span class="sub-heading">
            I'm a software developer, passionate about building intuitive, impactful, and high-performance digital experiences.
            Currently, I'm driving development projects that merge creativity with precision to deliver powerful solutions.
        </span>
        <div class="concordia">
            <img src="https://www.concordia.ca/etc/designs/concordia/clientlibs/img/logo-concordia-university-montreal.svg"/>
        </div>
    </div>
    <div>
        <hr/>
    </div>
</div>
